@import url('https://fonts.cdnfonts.com/css/poppins');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
body {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
.container {
    position: relative;
    width: 400px;
    height: 520px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 40px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.container h2 {
    font-size: 2em;
    color: #111;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #111;
    margin: 30px 0;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #111;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box  input:focus~label,
.input-box  input:valid~label{
    top: -5px;
}   

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.input-box .icons {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #111;
    line-height: 57px;
}

#brasil {
    font-weight: 600;
    width: 40%;
    height: 40px;
    border: 2px solid #08a816;
    border-radius: 5px;
    background-color: #08a816;
}

#brasil:hover {
    transition: 0.25s;
    background-color: #034208;
    border-color: #034208;
    border-radius: 15px;
}

.extra{
    font-weight: 600;
    position: relative;
    margin-top: 10px;
    display: flex;
    padding: 10px;
    width: 250px;
}

.extra ion-icon{
    position: absolute;
    top: 30%;
    right:15px;
}

.container .troca {
    margin-top: 10px;
}

.container .troca a{
    text-decoration: none;
    color: #111;
}
